.break {
  display: flex;
  gap: 1rem;
}

.break-section {
  gap: .5rem;
  display: grid;
}

.break-section label {
  font-weight: 100;
  justify-content: space-around;
  display: grid;
  text-transform: lowercase;
}

.break-section button {
  font-size: .9rem;
  font-weight: 700;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 50%;
  outline: none;
  transition: all 0.25s ease-out;
  padding: .5rem;
}

.break-section button:not(.disable):hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.break-section button.disable {
  opacity: 0.5;
  cursor: not-allowed;
}

.break-section span {
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
}